# Supabase Configuration
VITE_SUPABASE_URL=https://cooutbyxchcrhdfinvnl.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here

# VAPID Public Key for Push Notifications
VITE_VAPID_PUBLIC_KEY=BN3ozBgJoV7ZlcgTOllmPIoQmnnG-Nby64tcAallEYaDj6ZPXaCVPFe7gVXZODW7erL62Wwf_0CVEAQLwE3cRDo
