python-dotenv
openai>=1.30.0
groq>=0.5.0
fastapi
uvicorn
streamlit
faiss-cpu
sentence-transformers
pandas
numpy
networkx
pypdf
Pillow
requests
plotly
python-docx
python-pptx
beautifulsoup4
openpyxl
python-multipart
rank-bm25
google-generativeai
